@font-face {
  font-family: Norse-bold;
  src: url(fonts/Norse-Bold.otf);
}

:root {
  --c-dark: #444444;
  --c-button: #596d48;
  --c-border: #e5e7eb;
  --c-border-focus: #407fc7;
  --c-border-error: #d55c5f;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* <-- reset */

body {
  font-family: sans-serif;
  background-color: #f9fafb;
}

h1 {
  font-family: Norse-bold, sans-serif;
  font-size: 6rem;
  color: white;
}

h2 {
  line-height: 1.09;
}

.section-p {
  padding: 20px 45px;
}

.failure-icon,
.error {
  color: var(--c-border-error);
}

.success-icon {
  color: green;
}

.error {
  font-size: 14.5px;
  margin-top: 5px;
}

.success-icon,
.failure-icon {
  right: 0;
  opacity: 0;
}

.container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.bg-img {
  position: relative;
  display: none;
  background: url(img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  position: absolute;
  top: 200px;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-header h2 {
  margin-bottom: 1rem;
}

.form-inputs {
  background-color: white;
  color: var(--c-dark);
  width: 100%;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 12%);
}

.form-inputs h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form-input {
  position: relative;
  margin-bottom: 1.1rem;
}

.form-input i {
  position: absolute;
  padding: 11px;
}

.form-input label {
  display: block;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.form-input input {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  line-height: 1.25;
  border: 1px solid var(--c-border);
  border-radius: 8px;
  padding: 0 30px;
  transition: 0.1s ease;
}

.form-input input:focus {
  border: 1px solid var(--c-border-focus);
  box-shadow: 0px 3px 5px rgb(0 0 0 / 20%);
}

button {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: var(--c-button);
  border: none;
  border-radius: 8px;
  padding: 10px 40px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 25%);
  transition: all 0.1s ease;
}

button:hover {
  opacity: 0.8;
}

.form-submit {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.form-submit p {
  font-size: 1.2rem;
  margin: 2rem 0;
}

.form-submit a {
  color: var(--c-button);
  font-weight: bold;
  text-decoration: none;
}

@media (width >=64em) {
  .bg-img {
    display: flex;
    width: 50%;
  }
  .form-header,
  .sign-up-form {
    max-width: 51em;
  }
  .sign-up-form {
    display: flex;
    flex-wrap: wrap;
  }
  .form-input {
    width: min(280px, 50%);
    margin-right: auto;
  }
  .form-submit {
    align-items: flex-start;
  }
}
